<html>
<head>
  <title>Experimenting with Vue.js</title>

  <link rel="stylesheet" href="index.css">

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <!-- /// App 01:  Updating text. -->
  <div id="app">
    {{ message }}
  </div>

  <hr />


  <!-- /// App 02:  Binding a title message. -->
  <div id="app-2">
    <span v-bind:title="message">
      Hover your mouse over me for a few seconds
      to see my dynamically bound title!
    </span>
  </div>

  <hr />


  <!-- /// App 03:  Conditional DOM text. -->
  <div id="app-3">
    <span v-if="seen">Now you see me</span>
  </div>

  <hr />


  <!-- /// App 04:  For loop for lists. -->
  <div id="app-4">
    <ol>
      <li v-for="todo in todos">
        {{ todo.text }}
      </li>
    </ol>
  </div>

  <hr />


  <!-- /// App 05:  On click functions. -->
  <div id="app-5">
    <p>{{ message }}</p>
    <button v-on:click="reverseMessage">Reverse Message</button>
  </div>

  <hr />


  <!-- /// App 06:  Change on form input. -->
  <div id="app-6">
    <p>{{ message }}</p>
    <input v-model="message">
  </div>

  <hr />


  <!-- /// App 07:  Registering app components. -->
  <div id="app-7">
    <ol>
      <!--
        Now we provide each todo-item with the todo object
        it's representing, so that its content can be dynamic.
        We also need to provide each component with a "key",
        which will be explained later.
      -->
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </ol>
  </div>


  <!-- /// App 08:  Lifecycle function hooks. -->
  <div id="app-8">
    <p>{{ a }}</p>
  </div>

  <hr />


  <!-- /// App 09:  HTML vs Plain text. -->
  <div id="app-9">
    <p>This text is {{ color }}</p>
    <p><span v-html="color"></span></p>
  </div>

  <hr />


  <!-- /// App 10:  Push reactive data into DOM. -->
  <div id="app-10">
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>

    <input id="input-10" type="text">

    <button id="button-10">Add a Name</button>
  </div>

  <hr />


  <!-- /// App 11:  Event listeners. -->
  <div id="app-11">
    <ul>
      <li v-for="name in names" v-text="name"></li>
    </ul>

    <input id="input-11" type="text" v-model="newName">

    <button @click="addName">Add a Name</button> <!-- Use @ for shorthand of v-on -->
  </div>

  <hr />


  <!-- /// App 12:  Binding attributes to DOM elements dynamically. -->
  <div id="app-12">
    <div class="box" :class="{ 'is-loading' : isLoading }" @click="toggleClass">Click Me</div>
  </div>


  <!-- /// Scripts -->
  <script src="index.js"></script>
</body>
</html>